@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

:root,
[data-theme] {
  background-image: url('/background1.jpg');
  background-position: center center, center center, top right; /* adjust as needed */
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-size: cover, cover, cover; /* adjust as needed */
}
@keyframes pulse {
	0% {
		transform: scale(0.99);
		box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
	}

	70% {
		transform: scale(1);
		box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
	}

	100% {
		transform: scale(1.01);
		box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
	}
}


body {
  min-height: 1vh;
}

h1,
h2,
h3,
h4 {
  margin-bottom: 0.5rem;
  line-height: 1;
}

p {
  margin: 1rem 0;
}

.btn {
  @apply shadow-md;
}

.btn.btn-ghost {
  @apply shadow-none;
}

.card {
  background-color: rgba(0,0,0,0.9);
  color: #fff;
  padding-top: 1vw;
  padding-bottom: 1vw;
  padding-left: 1vw;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.content-container {
  background-color: rgba(255, 255, 255, 1); /* adjust as needed */
  padding: 20px;
  border-radius: 10px;
}

.sphere-container {
  perspective: 500px;
}

.ring {
  display: flex;
  justify-content: center;
  align-items: center;
  transform-style: preserve-3d;
  color: rgb(231 234 240 / 5%);
}

.character {
  /* Apply styles for individual characters */
}

/* Example of how to style the first ring */
.ring-0 {
  transform: rotateX(60deg); /* Adjust the angle as needed */
}

/* Example of how to style the last ring */
.ring-20 {
  transform: rotateX(-60deg); /* Adjust the angle as needed */
}

